<h2>Contactez-nous</h2>
<!--
    ng-touched/ng-untouched: field did or did not have focus
    ng-pristine/ng-dirty: field in its original state or field value has changed
    ng-valid/ng-invalid: state in relation to rules (required, pattern...)
-->
<form #form="ngForm" novalidate>
    <div class="form-group" 
        [class.has-error]="msgSubject.invalid && msgSubject.touched">
        <label for="subject" class="control-label">Sujet</label>
        <input type="text" 
                #msgSubject="ngModel"
                required
                [(ngModel)]="subject"
                name="subject"
                id="subject" 
                class="form-control" 
                placeholder="sujet">
    </div>
    <div class="form-group"
        [class.has-error]="msgContent.invalid && msgContent.touched">
        <label for="message" class="control-label">Message</label>
        <textarea 
                rows="3"
                #msgContent="ngModel"
                required
                [(ngModel)]="content"
                name="content"
                id="content" 
                class="form-control">
        </textarea>        
    </div>
        <div class="form-group">
        <label for="service" class="control-label">Service</label>
        <select id="service" class="form-control">
            <option value="tech">technique</option>
            <option value="sales">commercial</option>
            <option value="guide">guide moyenne montagne</option>
        </select>    
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">envoyer</button>
</form>
Formulaire valide ? {{ form.valid }}