<div class="row">
    <h2>Bienvenue le site des développeurs/randonneurs</h2>
    <div>
        Toute la journée assis dans un bureau ou un poulaill... open space ?
        <br>Il est temps de prendre l'air et d'aller randonner.
    </div>
</div>
<br>
<div class="row">
    <a class="btn btn-primary" (click)="toggle()" *ngIf="!open">afficher</a>
    <a class="btn btn-danger" (click)="toggle()" *ngIf="open">masquer</a>
    <br>
    <div [@toggleElement]="toggleElement" class="col-md-6">
        The path of the righteous man is beset on all sides by the iniquities of the selfish
        and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through
        the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down
        upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you
        will know My name is the Lord when I lay My vengeance upon thee. My money's in that office, right? If she start giving
        me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head
        then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell
        me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston
        or anybody else is in there, you the first motherfucker to get shot. You understand?
    </div>
</div>

<div class="row" *ngIf="quote">
    <h3>Citations</h3>
    <div class="frame col-md-6">
        <div class="citation" [@animateCitation]="animateCitation" (@animateCitation.start)="log($event)" (@animateCitation.done)="log($event)">
            {{ quote.text }}
            <br>
            <em>{{ quote.author}}</em>    
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-6">
        <a class="btn btn-primary" (click)="getPreviousQuote()">précédente</a>
        <a class="btn btn-primary" (click)="getNextQuote()">suivante</a>
    </div>
</div>